@import url('http://fonts.cdnfonts.com/css/graphik');

.monede {
    padding-top: 10vh !important;
    font-family: Graphik;

}

.container {
    margin-left: 0;
    margin-right: 0;
}

.tight-col {
    padding-left: 0;
    padding-right: 0;
}

#brandTitle {
    font-size: xx-large;
    font-weight: 500;
}

#brandIcon {
    height: 30px;
    margin-bottom: 8px;
}